NETSUITE_ACCOUNT_ID=9290490
NETSUITE_CONSUMER_KEY=
NETSUITE_CONSUMER_SECRET=
NETSUITE_TOKEN_ID=
NETSUITE_TOKEN_SECRET=
NETSUITE_SCRIPT_ID=customscript_gn_rl_ps_dxf
NETSUITE_DEPLOY_ID=customdeploy_gn_rl_ps_dxf
